### Boston Housing Dataset

The purpose of this assignment is to conduct an analysis on the boston housing dataset. The analysis will answer the question as to whether there is a significant difference in median house prices between houses that are along the Charles river and those that aren’t.

#### About the dataset
The dataset used in this assessment has been downloaded from the UCI Machine Learning Repository[https://archive.ics.uci.edu/ml/index.php]. The dataset contains US census housing data related to various housing in areas around the city of Boston.

This dataset contains 506 rows and 14 columns. 

The fourteen columns consist of the following data: 

|Column Name |     Column Description                                                      |
|------------|-----------------------------------------------------------------------------|
|CRIM        |Crime rates per town (CRIM)                                                  |
|ZN          |Proportion of residential land zoned for lots over 25,000 sq.ft.             |
|Indus       |Proportion of non-retail business acres per town                             |
|Chas        |Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)        |
|Nox         |Nitrogen oxides concentration (parts per 10 million)                         |
|Rm          |Average number of rooms per dwelling                                         |
|Age         |Proportion of owner-occupied units built prior to 1940                       |
|Dis         |Weighted mean of distances to five Boston employment centres                 |
|Rad         |Index of accessibility to radial highways                                    |
|Tax         |Full-value property-tax rate per 10,000                                       |
|Ptratio     | pupil-teacher ratio by town                                                  |
|Black       | 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town               |
|Lstat       | lower status of the population (percent)                                     |
|Medv        | median value of owner-occupied homes in $1000s                               |

##### Import Data 
This first step involved importing the data into a jupyter notebook. The first five lines of the data were displayed to ensure that the data had imported correctly. All of the coulmns datatypes were displayed aswell.

In [18]:
# Author Róisín Anglim 29-09-19
# Import packages 

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

#Add heading to csv file
headings = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
#Read in data from a csv file
df = pd.read_csv('housing.csv',delim_whitespace=True,names = headings) 
#Print first 5 lines of imported data 
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [19]:
#Show data datatypes
df.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS         int64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD          int64
TAX        float64
PTRATIO    float64
B          float64
LSTAT      float64
MEDV       float64
dtype: object

##### Cleaning the Data
This step involved identifying missing,duplicate or unnesscary data in order to remove it from the analysis.Through using descriptive statistics on the data you can see that in some coulmns the min value is zero. This indicates missing or invalid data.From the data you can see coulmns ZN and CHAS have min values of zero.However CHAS indicates whether the house is along the river or not by assigning it as 1 or 0.

ZN has been identified as having 372 cells with values equal to zero.

In [20]:
# Show descriptive statistics to identify missing or invalid data.
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677082,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [23]:
##### Identify the number of zero value cells
print((df[["ZN"]] == 0).sum())

ZN    372
dtype: int64

###Principle Component Analysis 
This is used to visualise the datasets as there are multiple variables. In order to condence the variables dimentionallity we will run a PCA.

In [ ]:
#Adapted 10.11.19 from https://towardsdatascience.com/pca-using-python-scikit-learn-e653f8989e60
#Remove depaendant variable which is the median house prices (MEDV)
features = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT']
# Separating out the features
x = df.loc[:, features].values
# Separating out the target
y = df.loc[:,['MEDV']].values
# Standardizing the features
x = StandardScaler().fit_transform(x)
            

pca = PCA(n_components=2)
principalComponents = pca.fit_transform(x)
principalDf = pd.DataFrame(data = principalComponents,columns = ['principal component 1', 'principal component 2'])

finalDF =pd.concat([principleDF, df[['MEDV']]],axis = 1)

In [ ]:
## Univariate Analysis
#Plot scatterplot data to identify outliers 

fig=plt.figure(figsize=(15, 15), dpi= 80, facecolor='w', edgecolor='k')    
fig, ax = plt.subplots(figsize=(15,15), ncols=3, nrows=5)
sns.swarmplot(y="DIS",data=df,ax=ax[0][0])
sns.swarmplot(y="ZN",data=df, ax=ax[0][1])
sns.swarmplot(y="CHAS",data=df,ax=ax[0][2])
sns.swarmplot(y="NOX",data=df,ax=ax[1][0])
sns.swarmplot(y="RM",data=df,ax=ax[1][1])
sns.swarmplot(y="AGE",data=df,ax=ax[1][2])
sns.swarmplot(y="RAD",data=df,ax=ax[2][0])
sns.swarmplot(y="TAX",data=df,ax=ax[2][1])
sns.swarmplot(y="PTRATIO",data=df,ax=ax[2][2])
sns.swarmplot(y="B",data=df,ax=ax[3][0])
sns.swarmplot(y="LSTAT",data=df,ax=ax[3][1])
sns.swarmplot(y="MEDV",data=df,ax=ax[3][2])
sns.swarmplot(y="CRIM",data=df,ax=ax[4][0])
sns.swarmplot(y="NOX",data=df,ax=ax[4][1])
sns.swarmplot(y="MEDV",data=df,ax=ax[4][2])

In [ ]:
###BI Variate analysis
##Create correlation matrix

plt.figure(figsize=(14,14))
#Add coolwarn colour and annotations for each correlation
sns.heatmap(df.corr(),vmin=-1,cmap='coolwarm',annot=True);

In [ ]:
#x = np.random.normal(size=100)
## Select the data where the houses are along the river
r= df.loc[df['CHAS'] == 1]
## Select the data where the houses are not along the river
s = df.loc[df['CHAS'] == 0]
#Plot distributions of houses along the river and not along the river
sns.distplot(r.MEDV)
sns.distplot(s.MEDV)

### Inferential Statistics 
#### Independant T-Test
An independant t-test was conducted on the two groups median house values. The first group r consisted of the houses along the river and the secound group s consisted of the houses not along the river. 
The results indicated that with a p-value 0f 0.07 the results are not significantly different

In [ ]:
#Independant t-test

stats.ttest_ind(r['MEDV'], s['MEDV'])

##### References 

[2] Data Cleaning with Python and Pandas: Detecting Missing Values https://towardsdatascience.com/data-cleaning-with-python-and-pandas-detecting-missing-values-3e9c6ebcf78b (Accessed 21.11.19)